{% from "render_field.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ form.submit(class="btn btn-dark")}}
</form>
<p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
{% endblock content %}