{% from "render_field.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    {{ form.submit(class="btn btn-dark")}}
</form>
<p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
{% endblock content %}