{% from "render_field.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<h1>Edit Password</h1>
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ render_field(form.password) }}
    {{ render_field(form.new_password) }}
    {{ render_field(form.confirm_new_password) }}
    {{ form.submit(class="btn btn-dark")}}
</form>
{% endblock content %}