{% extends "base.html" %}

{% from 'render_pagination.html' import render_pagination %}

{% block content %}
<div class="row">
    <div class="d-none d-md-flex">
        <div class="col-md-6">
            {% for upload in uploads.items %}
            {% if loop.cycle(0, 1) == 0 %}
            <p class="text-center mb-0"><small>
                    {% if upload.uploaded_by.is_active %}
                    <a
                        href="{{ url_for('main.users', username=upload.uploaded_by.username) }}">{{ upload.uploaded_by.username }}</a>
                    {% else %}
                    <span class="text-muted">{{ upload.uploaded_by.username }}</span>
                    {% endif %}
                </small></p>
            <img src="{{ url_for('static', filename=upload.image) }}" width="100%">
            <p class="text-center text-muted"><small>{{ upload.creation_date.date() }}</small></p>
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-6">
            {% for upload in uploads.items %}
            {% if loop.cycle(0, 1) == 1 %}
            <p class="text-center mb-0"><small>
                    {% if upload.uploaded_by.is_active %}
                    <a
                        href="{{ url_for('main.users', username=upload.uploaded_by.username) }}">{{ upload.uploaded_by.username }}</a>
                    {% else %}
                    <span class="text-muted">{{ upload.uploaded_by.username }}</span>
                    {% endif %}
                </small></p>
            <img src="{{ url_for('static', filename=upload.image) }}" width="100%">
            <p class="text-center text-muted"><small>{{ upload.creation_date.date() }}</small></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="d-md-none">
        <div class="col-md-6">
            {% for upload in uploads.items %}
            <p class="text-center mb-0"><small>
                    {% if upload.uploaded_by.is_active %}
                    <a
                        href="{{ url_for('main.users', username=upload.uploaded_by.username) }}">{{ upload.uploaded_by.username }}</a>
                    {% else %}
                    <span class="text-muted">{{ upload.uploaded_by.username }}</span>
                    {% endif %}
                </small></p>
            <img src="{{ url_for('static', filename=upload.image) }}" width="100%">
            <p class="text-center text-muted"><small>{{ upload.creation_date.date() }}</small></p>
            {% endfor %}
        </div>
    </div>
</div>

{{ render_pagination('main.home', uploads) }}
{% endblock content %}