{% from "render_field.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<h1>Upload</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_field(form.image, class='form-control-file') }}
    <div id="croppie-container"></div>
    {{ form.submit(class="btn btn-dark")}}
</form>
{% endblock content %}

{% block scripts %}
<script>
    var form = document.getElementsByTagName('form')[0];

    form.image.onchange = function (event) {

        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        if (file.type.match('image.*')) {
            form.querySelector('.form-group').className = 'd-none';
            alert = document.querySelector('.alert');
            if (alert) {
                alert.className = 'd-none';
            }

            reader.addEventListener("load", function () {
                var croppieContainer = document.getElementById('croppie-container');

                var croppie = new Croppie(croppieContainer, {
                    boundary: { width: '30vw', height: '30vw' },
                    viewport: { width: 200, height: 200, type: 'square' }
                });

                croppie.bind({
                    url: reader.result
                });

                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    croppie.result({
                        type: 'blob',
                        size: { width: 1024 },
                        format: 'jpeg'
                    }).then(function (blob) {
                        var formData = new FormData(form);
                        formData.set('image', blob, formData.get('image').name);
                        var request = new XMLHttpRequest();
                        request.open('POST', '', true);
                        request.onload = function (event) {
                            if (request.status == 200) {
                                window.location = 'home';
                            } else {
                                window.location = '';
                            }
                        };
                        request.send(formData);
                    });
                }, false);
            });

            reader.readAsDataURL(file);

        } else {
            form.submit.click();
        }
    };
</script>
{% endblock scripts %}