{% extends "base.html" %}
{% from 'render_pagination.html' import render_pagination %}

{% block content %}
<div class="col-xs-1 mb-3" align="center">
    <img src="{{ url_for('static', filename=user.avatar) }}" class="rounded-circle" width="150px">
    <h6 class="mb-0 mt-1">{{ user.username }}</h6>
    <p class="mb-0 text-muted"><small>Member since {{ user.creation_date.date() }}</small></p>
    {% if current_user == user %}
        <p class="mb-0"><small><a href="{{ url_for('main.edit_avatar') }}">Edit Avatar</a></small></p>
        <p class="mb-0"><small><a href="{{ url_for('main.edit_username') }}">Edit Username</a></small></p>
        <p class="mb-0"><small><a href="{{ url_for('main.edit_password') }}">Edit Password</a></small></p>
        <p class="mb-0"><small><a href="{{ url_for('main.delete_profile') }}">Delete Profile</a></small></p>
    {% endif %}
</div>
<div class="row">
        <div class="d-none d-md-flex">
            <div class="col-md-6">
                {% for upload in uploads.items %}
                {% if loop.cycle(0, 1) == 0 %}
                <img src="{{ url_for('static', filename=upload.image) }}" width="100%">
                <p class="text-center text-muted"><small>{{ upload.creation_date.date() }}</small></p>
                {% endif %}
                {% endfor %}
            </div>
    
            <div class="col-md-6">
                {% for upload in uploads.items %}
                {% if loop.cycle(0, 1) == 1 %}
                <img src="{{ url_for('static', filename=upload.image) }}" width="100%">
                <p class="text-center text-muted"><small>{{ upload.creation_date.date() }}</small></p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    
        <div class="d-md-none">
            <div class="col-md-6">
                {% for upload in uploads.items %}
                <img src="{{ url_for('static', filename=upload.image) }}" width="100%">
                <p class="text-center text-muted"><small>{{ upload.creation_date.date() }}</small></p>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {{ render_pagination('main.users', uploads, username=user.username) }}
{% endblock content %}