{% from 'render_nav_item.html' import render_nav_item %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="{{ url_for('main.home') }}">
        <img src="{{ url_for('static', filename='icon.jpg') }}" width="30" height="30" class="d-inline-block align-top"
            alt="">
        photoblog
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            {{ render_nav_item('Home', 'main.home') }}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            {{ render_nav_item('Upload', 'main.upload') }}
            {{ render_nav_item('Profile', 'main.profile') }}
            {{ render_nav_item('Logout', 'auth.logout') }}
            {% else %}
            {{ render_nav_item('Login', 'auth.login') }}
            {{ render_nav_item('Register', 'auth.register') }}
            {% endif %}
        </ul>
    </div>
</nav>