{% macro render_pagination(url, pagination) %}
{% if pagination.pages > 1%}
<nav>
    <ul class="pagination justify-content-end">
        {% if pagination.has_prev %}
        <li class="page-item">
            {% else %}
        <li class="page-item disabled">
            {% endif %}
            <a class="page-link" href="{{ url_for(url, username=kwargs['username'], page=pagination.prev_num) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for page in pagination.iter_pages(left_edge=0, left_current=2, right_current=3, right_edge=0) %}
        {% if page != None %}
        {% if page == pagination.page %}
        <li class="page-item active">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ url_for(url, username=kwargs['username'], page=page) }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item">
            {% else %}
        <li class="page-item disabled">
            {% endif %}
            <a class="page-link" href="{{ url_for(url, username=kwargs['username'], page=pagination.next_num) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}
{% endmacro %}