{% macro render_field(field, class='form-control') %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
    {{ field(class=class ~ ' is-invalid') }}
    {% for error in field.errors %}
    <small class="text-danger">{{ error }}</small>
    {% endfor %}
    {% else %}
    {{ field(class=class) }}
    {% endif %}
</div>
{% endmacro %}