{% macro render_nav_item(name, url) %}
{% if request.path == url_for(url, **kwargs) %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
    <a class="nav-link" href="{{ url_for(url, **kwargs) }}">{{ name }}</a>
</li>
{% endmacro %}